@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}

header {
    position: relative;
    width: 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu-side,
.song-side {
    width: 25%;
    height: 90%;
    /* border: 1px solid white; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: white;

}

header .song-side {
    width: 75%;
    background: #111727;
}

header .master-play {
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu-side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu-side .play-list {

    margin: 40px 0px 0px 20px;

}

header .menu-side .play-list h4 {

    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform: .3s linear;

}

header .menu-side .play-list h4:hover {
    color: white;
}

header .menu-side .play-list h4 span {
    position: relative;
    margin-right: 34px;
}

header .menu-side .play-list h4 span ::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    border: 2px solid white;
}

header .menu-side .play-list h4 .bi {
    display: none;
}

header .menu-side .play-list .active {
    color: #36e2ec;
}

header .menu-side .play-list .active span {
    display: none;
}

header .menu-side .play-list .active .bi {
    display: flex;
    margin-right: 20px;
}

header .menu-side .menu-song {
    width: 100%;
    height: 430px;
    /* border: 1px solid white; */
    margin-top: 40px;
    overflow: auto;
    /* scroller bana dete hai yeh */
}

header .menu-side .menu-song::-webkit-scrollbar {
    display: none;
}

header .menu-side .menu-song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu-side .menu-song li:hover {
    background: rgb(105, 105, 105, .1);
}

header .menu-side .menu-song li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .menu-side .menu-song li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;

}

header .menu-side .menu-song li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

header .menu-side .menu-song li h5 .subtitel {
    font-size: 9px;
    color: #4c5262;
}

header .menu-side .menu-song li .bi {
    position: absolute;
    right: 15px;

}

header .master-play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master-play .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    display: none;

}

header .master-play .wave .wave1 {
    width: 3px;
    height: 10px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .5s linear infinite;
}

header .master-play .wave .wave1:nth-child(2) {
    height: 13px;
    animation-delay: .4s;
}

header .master-play .wave .wave1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;
}

header .master-play .wave .wave1:nth-child(4) {
    height: 6px;
    animation-delay: .12s;
}

@keyframes wave {
    0% {
        height: 15px;
    }

    50% {
        height: 8px;
    }

    100% {
        height: 15px;
    }
}

header .master-play img {
    width: 35px;
    height: 35px;
}

header .master-play h5 {
    width: 135px;
    margin-left: 12px;
    color: white;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

header .master-play h5 .subtitle {

    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master-play .icon {

    font-size: 20px;
    color: white;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;

}

header .master-play .icon .bi {

    cursor: pointer;
    outline: none;


}

header .master-play .icon .shuffle {

    font-size: 17px;
    margin-right: 10px;
    width: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

header .master-play .icon #download-music {
    font-size: 20px;
    margin-left: 10px;
}

header .master-play .icon .bi:nth-child(3) {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}
 header .master-play .progressbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left:10px ;
 }
header .master-play span {
    color: white;
    width: 32px;
    /* border: 1px slid white; */
    font-size: 11px;
    font-weight: 400;
}

header .master-play #current-start {
    margin: 0px 0px 0px 20px;
}

header .master-play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 105, .1);
    margin: 0px 15px 0px 10px;
}

header .master-play .bar .bar2 {
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background: #36e2ec;
    top: 0;
    transition: 1s linear;

}

header .master-play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

header .master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;

}

header .master-play .bar input {

    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 545241386455454251;
    opacity: .3;

}

header .master-play .vol {
    position: relative;
    width: 10%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin-left: 10px;

}

header .master-play .vol .bi {
    position: absolute;
    color: white;
    font-size: 25px;
    top: -17px;
    left: -30px;
}

header .master-play .vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0px;
    cursor: pointer;
    z-index: 685245214;
    opacity: 0;
}

header .master-play .vol .vol-bar {
    position: absolute;
    background: #36e2ec;
    width: 10%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master-play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

header .master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;

}

header .song-side {
    z-index: 2;
}

header .song-side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 730px;
    background: url('alan.jpg') no-repeat;
    z-index: -1;

}

header .song-side nav {
    width: 90%;
    height: 10%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song-side nav ul {
    display: flex;
}

header .song-side nav ul li {
    list-style: none;
    position: relative;
    cursor: pointer;
    color: #4c5262;
    font-size: 13px;
    margin-right: 25px;
    transition: .3s linear;

}

header .song-side nav ul li:hover {
    color: white;
}

header .song-side nav ul li:nth-child(1) {
    color: white;
}

header .song-side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    background: #36e2ec;
    bottom: -5px;
}

header .song-side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid white; */
    color: rgb(150, 148, 148)
}

header .song-side nav .search ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
    z-index: -1;


}

header .song-side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song-side nav .search input {
    background: none;
    border: none;
    outline: none;
    color: white;
}

header .song-side nav .user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

header .song-side nav .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px;
    cursor: pointer;
}

header .song-side nav a {
    text-decoration: none;
    color: #4c5262;
}

header .song-side nav #singnup:hover {
    color: white;
    text-decoration: underline;
}

header .song-side nav #login {
    border: 1px solid grey;
    /* background: white; */
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: bold;

}

header .song-side nav #login:hover {
    background: #36e2ec;
    color: black;
    text-decoration: underline;

}

header .song-side .content {
    width: 90%;
    height: 30%;
    /* border: 1px solid white; */
    margin: auto;
    padding-top: 20px;
}

header .song-side .content h1 {
    font-size: 25px;
    font-weight: 600;

}

header .song-side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;

}

header .song-side .content .buttons {
    margin-top: 15px;


}

header .song-side .content .buttons button {
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: #36e2ec;
    border-radius: 20px;
    background: #36e2ec;
    color: white;
    cursor: pointer;
    transition: .3s linear;


}

header .song-side .content .buttons button:hover{
    background: none;
}
header .song-side .popluar-song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
}
header .song-side  .popluar-song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song-side  .popluar-song .h4 .bi{
   color: grey;
   cursor: pointer;
   transition: .3se linear;
}
header .song-side  .popluar-song .h4 .bi:hover{
    color: rgb(255, 255, 255);
   
 }
 header .song-side  .popluar-song .pop-songs{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
 }
 header .song-side  .popluar-song .pop-songs::-webkit-scrollbar{
    display: none;
 }
 header .song-side  .popluar-song .pop-songs li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
 }
 header .song-side  .popluar-song .pop-songs li :hover{
    background: rgb(105, 105, 170, .1);
 }
 header .song-side  .popluar-song .pop-songs li .img-play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song-side  .popluar-song .pop-songs li .img-play img{
    width: 100%;
    height: 100%;
 }
 header .song-side  .popluar-song .pop-songs li .img-play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
 }
 header .song-side  .popluar-song .pop-songs li :hover.img-play .bi{
    
    opacity: 1;
    font-weight: bold;
 }
 header .song-side  .popluar-song .pop-songs li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 header .song-side  .popluar-song .pop-songs li h5 .subtitel{
    
    font-size: 9px;
   color: #4c5262;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
header .song-side .popluar-artits{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
}
header .song-side  .popluar-artits .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song-side  .popluar-artits .h4 .bi{
   color: grey;
   cursor: pointer;
   transition: .3se linear;
}
header .song-side  .popluar-artits .h4 .bi:hover{
    color: rgb(255, 255, 255);
   
 }
 header .song-side   .popluar-artits .item {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
 }
 header .song-side   .popluar-artits .item::-webkit-scrollbar {
   display: none;
 }

 header .song-side  .popluar-song .item::-webkit-scrollbar{
    display: none;
 }

 header .song-side   .popluar-artits  .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
 }
 header .song-side   .popluar-artits   .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
 }
 @media(max-width:1257px){
    header {
        
        width: 95%;
        
    }
    header .menu-side .play-list {
        margin: auto;
    }

 }
 @media(max-width:900px){
    header .menu-side{
        display: none;
    }
    header .song-side {
        width: 100%;
       
    }
    header .master-play .vol {
        display: none;
    }
    header .song-side::before {
        content: '';
        position: absolute;
        width: 75%;
        height: 300px;
        left: 52px;
        background: url(alan.jpg) no-repeat center;
        z-index: -1;
    }
    }